<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/']">THE SISTEMA</a>
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse show" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <ng-template ngxPermissionsOnly="MOTORISTA">
          <a class="nav-link" [routerLink]="['/buus']">Meus Atendimentos </a>
        </ng-template>
        <ng-template ngxPermissionsOnly="COOPERATIVA">
          <a class="nav-link" [routerLink]="['/buus']">Atendimentos da Cooperativa</a>
        </ng-template>
      </li>

    </ul>
    <li class="navbar-nav ml-auto">
      <span class="nav-link" *ngIf="user">
        <a class="fa fa-user-circle-o" aria-hidden="true"></a>
        Olá,
        <b> {{user.name}} </b>
        <a [routerLink]="['/auth']" (click)="logout()" class="fa fa-sign-out" aria-hidden="true"></a>
      </span>
    </li>
  </div>
</nav>