<div class="row">
    <div class="col m-2">
        <b class="mr-3">FILTRAR POR PERÍODO</b>
        <div ngbDropdown class="d-inline-block" #myDrop='ngbDropdown'>
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{todayString()}} </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <ngb-datepicker #dp [displayMonths]="2" [dayTemplate]="t">
                </ngb-datepicker>

                <ng-template #t let-date="date" let-focused="focused">
                    <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)" [class.faded]="isHovered(date) || isInside(date)"
                        (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null" (click)="  onDateSelection(date, myDrop)">
                        {{ date.day }}
                    </span>
                </ng-template>
            </div>
        </div>
    </div>
</div>